@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1b2248;
}

nav {
    background-color: #1b2248;
}

main {
    color: white;
}

.maintext1 {
    padding: 5% 0;
    background-color: #273169;

}

.maintext2 {
    padding: 5% 0;
    background-color: #1b2248;
}


header {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.custom-btn {
    background-color: #51bff2;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.custom-btn:hover {
    background-color: #45a6d6; 
}

@media (max-width: 1200px) {
    .nav-text {
        font-size: 20px;
    }
}

.c-item {
    height: 600px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}