@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    background-color: #1b2248;
}

header {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

header button {
    background-color: rgba(67, 181, 238, 1);
    font-weight: 600;
}

header button:hover {
    background-color: rgba(67, 181, 238, 0.8);
}